<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="Generated3valued" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:Generated3valued" id="Generated3valued">
      <query-specification fqn="mayEquivalent"/>
      <query-specification fqn="unfinishedLowerMultiplicity_eAttributeType_reference_EAttribute"/>
      <query-specification fqn="unfinishedLowerMultiplicity_eReferenceType_reference_EReference"/>
      <query-specification fqn="unfinishedLowerMultiplicity_eRawType_reference_EGenericType"/>
      <query-specification fqn="createObject_EParameter_class_by_eParameters_reference_EOperation_with_eOperation_reference_EParameter"/>
      <query-specification fqn="createObject_EParameter_class"/>
      <query-specification fqn="createObject_EDataType_class_by_eClassifiers_reference_EPackage_with_ePackage_reference_EClassifier"/>
      <query-specification fqn="createObject_EDataType_class"/>
      <query-specification fqn="createObject_ETypeParameter_class_by_eTypeParameters_reference_EClassifier"/>
      <query-specification fqn="createObject_ETypeParameter_class_by_eTypeParameters_reference_EOperation"/>
      <query-specification fqn="createObject_ETypeParameter_class"/>
      <query-specification fqn="createObject_EPackage_class_UndefinedPart_by_eSubpackages_reference_EPackage_with_eSuperPackage_reference_EPackage"/>
      <query-specification fqn="createObject_EPackage_class_UndefinedPart"/>
      <query-specification fqn="createObject_EObject_class_by_contents_reference_EAnnotation"/>
      <query-specification fqn="createObject_EObject_class"/>
      <query-specification fqn="createObject_EStringToStringMapEntry_class_by_details_reference_EAnnotation"/>
      <query-specification fqn="createObject_EStringToStringMapEntry_class"/>
      <query-specification fqn="createObject_EReference_class_by_eStructuralFeatures_reference_EClass_with_eContainingClass_reference_EStructuralFeature"/>
      <query-specification fqn="createObject_EReference_class"/>
      <query-specification fqn="createObject_EEnumLiteral_class_by_eLiterals_reference_EEnum_with_eEnum_reference_EEnumLiteral"/>
      <query-specification fqn="createObject_EEnumLiteral_class"/>
      <query-specification fqn="createObject_EClass_class_by_eClassifiers_reference_EPackage_with_ePackage_reference_EClassifier"/>
      <query-specification fqn="createObject_EClass_class"/>
      <query-specification fqn="createObject_EOperation_class_by_eOperations_reference_EClass_with_eContainingClass_reference_EOperation"/>
      <query-specification fqn="createObject_EOperation_class"/>
      <query-specification fqn="createObject_EAnnotation_class_by_eAnnotations_reference_EModelElement_with_eModelElement_reference_EAnnotation"/>
      <query-specification fqn="createObject_EAnnotation_class"/>
      <query-specification fqn="createObject_EAttribute_class_by_eStructuralFeatures_reference_EClass_with_eContainingClass_reference_EStructuralFeature"/>
      <query-specification fqn="createObject_EAttribute_class"/>
      <query-specification fqn="createObject_EGenericType_class_by_eGenericSuperTypes_reference_EClass"/>
      <query-specification fqn="createObject_EGenericType_class_by_eGenericExceptions_reference_EOperation"/>
      <query-specification fqn="createObject_EGenericType_class_by_eGenericType_reference_ETypedElement"/>
      <query-specification fqn="createObject_EGenericType_class_by_eUpperBound_reference_EGenericType"/>
      <query-specification fqn="createObject_EGenericType_class_by_eTypeArguments_reference_EGenericType"/>
      <query-specification fqn="createObject_EGenericType_class_by_eLowerBound_reference_EGenericType"/>
      <query-specification fqn="createObject_EGenericType_class_by_eBounds_reference_ETypeParameter"/>
      <query-specification fqn="createObject_EGenericType_class"/>
      <query-specification fqn="createObject_EEnum_class_by_eClassifiers_reference_EPackage_with_ePackage_reference_EClassifier"/>
      <query-specification fqn="createObject_EEnum_class"/>
      <query-specification fqn="refineTypeTo_EParameter_class"/>
      <query-specification fqn="refineTypeTo_EDataType_class"/>
      <query-specification fqn="refineTypeTo_ETypeParameter_class"/>
      <query-specification fqn="refineTypeTo_EPackage_class_UndefinedPart"/>
      <query-specification fqn="refineTypeTo_EObject_class"/>
      <query-specification fqn="refineTypeTo_EStringToStringMapEntry_class"/>
      <query-specification fqn="refineTypeTo_EReference_class"/>
      <query-specification fqn="refineTypeTo_EEnumLiteral_class"/>
      <query-specification fqn="refineTypeTo_EClass_class"/>
      <query-specification fqn="refineTypeTo_EOperation_class"/>
      <query-specification fqn="refineTypeTo_EAnnotation_class"/>
      <query-specification fqn="refineTypeTo_EAttribute_class"/>
      <query-specification fqn="refineTypeTo_EGenericType_class"/>
      <query-specification fqn="refineTypeTo_EEnum_class"/>
      <query-specification fqn="refineRelation_eAttributeType_reference_EAttribute"/>
      <query-specification fqn="refineRelation_references_reference_EAnnotation"/>
      <query-specification fqn="refineRelation_eSuperTypes_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllAttributes_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllReferences_reference_EClass"/>
      <query-specification fqn="refineRelation_eReferences_reference_EClass"/>
      <query-specification fqn="refineRelation_eAttributes_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllContainments_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllOperations_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllStructuralFeatures_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllSuperTypes_reference_EClass"/>
      <query-specification fqn="refineRelation_eIDAttribute_reference_EClass"/>
      <query-specification fqn="refineRelation_eAllGenericSuperTypes_reference_EClass"/>
      <query-specification fqn="refineRelation_eExceptions_reference_EOperation"/>
      <query-specification fqn="refineRelation_eOpposite_reference_EReference"/>
      <query-specification fqn="refineRelation_eReferenceType_reference_EReference"/>
      <query-specification fqn="refineRelation_eKeys_reference_EReference"/>
      <query-specification fqn="refineRelation_eType_reference_ETypedElement"/>
      <query-specification fqn="refineRelation_eRawType_reference_EGenericType"/>
      <query-specification fqn="refineRelation_eTypeParameter_reference_EGenericType"/>
      <query-specification fqn="refineRelation_eClassifier_reference_EGenericType"/>
      <query-specification fqn="refineRelation_iD_attribute_EAttribute"/>
      <query-specification fqn="refineRelation_source_attribute_EAnnotation"/>
      <query-specification fqn="refineRelation_abstract_attribute_EClass"/>
      <query-specification fqn="refineRelation_interface_attribute_EClass"/>
      <query-specification fqn="refineRelation_instanceClassName_attribute_EClassifier"/>
      <query-specification fqn="refineRelation_instanceTypeName_attribute_EClassifier"/>
      <query-specification fqn="refineRelation_serializable_attribute_EDataType"/>
      <query-specification fqn="refineRelation_value_attribute_EEnumLiteral"/>
      <query-specification fqn="refineRelation_literal_attribute_EEnumLiteral"/>
      <query-specification fqn="refineRelation_name_attribute_ENamedElement"/>
      <query-specification fqn="refineRelation_nsURI_attribute_EPackage"/>
      <query-specification fqn="refineRelation_nsPrefix_attribute_EPackage"/>
      <query-specification fqn="refineRelation_containment_attribute_EReference"/>
      <query-specification fqn="refineRelation_container_attribute_EReference"/>
      <query-specification fqn="refineRelation_resolveProxies_attribute_EReference"/>
      <query-specification fqn="refineRelation_changeable_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_volatile_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_transient_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_defaultValueLiteral_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_unsettable_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_derived_attribute_EStructuralFeature"/>
      <query-specification fqn="refineRelation_ordered_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_unique_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_lowerBound_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_upperBound_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_many_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_required_attribute_ETypedElement"/>
      <query-specification fqn="refineRelation_key_attribute_EStringToStringMapEntry"/>
      <query-specification fqn="refineRelation_value_attribute_EStringToStringMapEntry"/>
    </group>
  </extension>
</plugin>
